{% extends 'Apps/Universidad/bases/base_listado.html' %}
{% block titulo %}
    Cursos
{% endblock %}
{% block Cursos %}
    active
{% endblock %}
{% block contenido %}
    <a href="{% url 'cursos:agregar' %}"><button type="button" class="btn btn-success" >Agregar</button></a>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Creditos</th>
            <th scope="col">Docente</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        {% for curso in Cursos %}
            <tbody>
            <tr>
                <th scope="row">{{ curso.codigo }}</th>
                <td>
                    {{ curso.nombre }}
                </td>
                <td>
                    {{ curso.creditos }}
                </td>
                <td>
                    {{ curso.docente }}
                </td>
                <td>
                    <a href="{% url 'cursos:actualizar' curso.codigo %}" class="btn btn-sm btn-primary my-1 my-sm-0">
                        <span class="fas fa-edit mr-1"></span>
                        Actualizar</a>
                    <a href="{% url 'cursos:eliminar' curso.codigo %}" class="btn btn-sm btn-danger my-1 my-sm-0">
                        <span class="fas fa-trash mr-1"></span>
                        Eliminar</a>
                </td>
            </tr>


            </tbody>
        {% empty %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> No hay registros en la base de datos.
            </div>
        {% endfor %}
    </table>
{% endblock %}