{% extends 'universidad/bases/base_listado.html' %}
{% block titulo %}
Carreras
{% endblock %}
{% block Carreras %}
active
{% endblock %}
{% block contenido %}
<table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duracion (Meses)</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for carrera in carreras %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ carrera.codigo }}</th>
                        <td>
                            <a href="{% url 'detalle-carrera' carrera.codigo %}">
                                {{ carrera.nombre }}
                            </a>
                        </td>
                        <td>
                                {{ carrera.duracion }}
                        </td>
                        <td>
                            <a href="{% url 'actualiza-carrera' carrera.codigo %}" class="btn btn-sm btn-primary my-1 my-sm-0">
                                <span class="fas fa-edit mr-1"></span>
                                Actualizar</a>
                            <a href="{% url 'elimina-carrera' carrera.codigo %}" class="btn btn-sm btn-danger my-1 my-sm-0">
                                <span class="fas fa-trash mr-1"></span>
                                Eliminar</a>
                        </td>
                    </tr>


                    </tbody>
                {% empty %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Oh snap!</strong> No hay registros en la base de datos.
                    </div>
                {% endfor %}
            </table>
{% endblock %}